{{ ansible_managed | comment }}

# Welcome to the chrony configuration file. See chrony.conf(5) for more
# information about usuable directives.
{% for server_line in chrony_ntp_servers %}
server {{ server_line }}
{% endfor %}

{% if chrony_server == true %}
{% for allow_net in chrony_server_allow_nets %}
allow {{ allow_net }}
{% endfor %}
{% endif %}

# This directive specify the location of the file containing ID/key pairs for
# NTP authentication.
keyfile {{ chrony_keys_file | default('/etc/chrony/chrony.keys') }}

# This directive specify the file into which chronyd will store the rate
# information.
driftfile {{ chrony_drift_file | default('/var/lib/chrony/chrony.drift') }}

# Comment these lines out to turn off logging.

log {{ chrony_log_options | default('tracking measurements statistics') }}
logdir {{ chrony_log_dir | default('/var/log/chrony') }}

# Stop bad estimates upsetting machine clock.
maxupdateskew {{ chrony_maxupdateskew | default('100.0') }}

# This directive tells 'chronyd' to parse the 'adjtime' file to find out if the
# real-time clock keeps local time or UTC. It overrides the 'rtconutc' directive.
hwclockfile /etc/adjtime

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can’t be used along with the 'rtcfile' directive.
rtcsync

# Step the system clock instead of slewing it if the adjustment is larger than
# one second, but only in the first three clock updates.
makestep {{ chrony_makestep | default('1 3') }}